@charset "utf-8";
/*自定义动画部分*/
@keyframes mymove
{
    0%   {transform:scale(1) rotate(0deg);}
    25%  {transform:scale(1.2) rotate(5deg);}
    50%  {transform:scale(1.5) rotate(-5deg);}
    75%  {transform:scale(1.2) rotate(5deg);}
    100% {transform:scale(1) rotate(0deg);}
}

@-webkit-keyframes mymove /* Safari 和 Chrome */
{
    0%   {-webkit-transform:scale(1) rotate(0deg);}
    25%  {-webkit-transform:scale(1.2) rotate(5deg);}
    50%  {-webkit-transform:scale(1.5) rotate(-5deg);}
    75%  {-webkit-transform:scale(1.2) rotate(5deg);}
    100% {-webkit-transform:scale(1) rotate(0deg);}
}
/*下载按钮动画*/
@keyframes btnAnimate
{
    0%   {transform:scale(1) rotate(0deg);}
    25%  {transform:scale(1.1) rotate(5deg);}
    50%  {transform:scale(1.2) rotate(-5deg);}
    75%  {transform:scale(1.1) rotate(5deg);}
    100% {transform:scale(1) rotate(0deg);}
}

@-webkit-keyframes btnAnimate /* Safari 和 Chrome */
{
    0%   {-webkit-transform:scale(1) rotate(0deg);}
    25%  {-webkit-transform:scale(1.1) rotate(5deg);}
    50%  {-webkit-transform:scale(1.2) rotate(-5deg);}
    75%  {-webkit-transform:scale(1.1) rotate(5deg);}
    100% {-webkit-transform:scale(1) rotate(0deg);}
}


/* CSS Document */
html, body{height:100%;overflow:hidden;padding:0;margin:0;background-color:#fff;}
body{
    margin:0;
    padding:0;
    width:640px;
    height:960px;
    -webkit-transform-origin:0 0;
    -webkit-transform: scale(0.5, 0.5);
}
ol,ul,li{list-style:none;}
em,i{ font-style:normal;}
h2, b, p{margin:0;}
/* clearfix */
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{zoom:1;}

.fl{float:left;}
.fr{float:right;}

.container{position:relative;width:640px;height:960px;-webkit-transform-origin: 0 0;}
.wrap{position:relative;width:640px;height:960px;background:#FFF;position:relative;}
#gameIntro, #gameScreen, #result{position:absolute;top:0;left:0;width:640px;height:960px;display:none;}
#loading{display:block;text-align:center;margin-top:400px;}
#percent{font-size:40px;margin-top:10px;}


.figure{
    position:absolute;
    width:640px;
    height:600px;
    top:280px;
    left:0;
}
.lian{
    position:absolute;
    left: 146px;
    top: 68px;
    z-index: 10;
}
.toufahou{
    position:absolute;
    left: 81px;
    top: 118px;
    z-index: 8;
}
.toufaqian{
    position:absolute;
    left: 47px;
    top: -105px;
    z-index: 14;
}
.bizi{
    position:absolute;
    left: 281px;
    top: 218px;
    z-index: 11;
}
.maozi{
    position:absolute;
    left: 13px;
    top: -40px;
    z-index: 15;
}
.meimao{
    position:absolute;
    left: 218px;
    top: 141px;
    z-index: 13;
}
.tezheng{
    position:absolute;
    left: 211px;
    top: 176px;
    z-index: 13;
}
.daiyanjing{
    position:absolute;
    top: 138px;
    left: 175px;
    z-index: 16;
}
.yanjing{
    position:absolute;
    left: 224px;
    top: 185px;
    z-index: 13;
}
.zui{
    position:absolute;
    left: 258px;
    top: 286px;
    z-index: 13;
}

.shenti{
    position:absolute;
    z-index: 9;
    left: 190px;
    top: 442px;
}
.huzi{
    position: absolute;
    z-index: 16;
    left: 192px;
    top: 222px;
}


.title{
    background:url("assets/images/title-bg.jpg") center no-repeat;
    width:640px;
    height:223px;
    text-align:center;
    margin-top:40px;
}
.title{
    font-family: "黑体";
}
.title .touxian{
    font-size:36px;
    color:#000;
    font-weight:normal;
    line-height:68px;
}
.title .name{
    font-size:60px;
    color:#000;
    font-weight:bold;line-height:60px;
}
.title .info{
    font-size:40px;
    color:#000;
    font-weight:normal;
    line-height:80px;
}
.title .info span{
    color:#f40707;
}

#play{
    position:absolute;
    bottom:35px;
    left:190px;
}

.tips{
    position:absolute;
    left:6px;
    top:388px;
    z-index:20;
}
.copyright{
    width: 640px;
    position:absolute;
    left:0;
    bottom:0;
    text-align:center;
    font-size:24px;
    color:#000;
}

/*game screen 游戏主界面*/
#gameScreen .figure{-webkit-transform:scale(0.4);top: 184px;z-index: 6;}
#gameScreen .gebo{
    position:absolute;
    top: 10px;
    z-index: 5;
    left: 158px;
}
#gameScreen .shenti{
    top: 391px;
    left: 0px;
}
#gameScreen{display:none;}

/*---------------游戏中身体浮动动画--------------------*/
@keyframes floatbody
{
    0%   {top:0px;}
    25%  {top:-10px;}
    50%  {top:-15px;}
    75%  {top:-10px;}
    100% {top:0px;}
}

@-webkit-keyframes floatbody /* Safari 和 Chrome */
{
    0%   {top:0px;}
    25%  {top:-10px;}
    50%  {top:-15px;}
    75%  {top:-10px;}
    100% {top:0px;}
}
#userWrap{
    width:640px;
    height:400px;
    position:relative;
    margin:0 auto;
    -webkit-animation: floatbody 2s infinite linear;
}
#userWrap .user{
}
#timer{
    position:absolute;
    top:0px;
    left:25px;
    font-size:72px;
    line-height:100px;
    color:#f40707;
    font-family: "黑体";
    z-index:5;
}
#timer span{
    font-size:30px;
    color:#f40707;
    font-family: "黑体";
}
#score{
    position:absolute;
    right:25px;
    top:0px;
    font-size:100px;
    line-height:120px;
    color:#0787f4;
    font-family: "黑体";
    z-index:5;
}
#score span{
    font-size:30px;
    color:#0787f4;
    font-family: "黑体";
}
#gameScreen .cloud{
    position:absolute;
    top: 380px;
    left: 0px;
    z-index: 3;
}
#readyBg{
    position:absolute;
    top:0px;
    left:0px;
    z-index: 2;
}
#gameScreen .download-btn{
    position:absolute;
    bottom: 50px;
    right: 30px;
    z-index: 20;
    -webkit-animation:mymove 1s infinite linear ;
}
#gameScreen .tips{
    position:absolute;
    top: 910px;
    left:0px;
    height: 30px;
    width: 640px;
    text-align: center;
    font-size: 24px;
    font-family: "黑体";
    z-index: 5;
}
#userBody{
    position: absolute;
    width: 200px;
    height: 600px;
    top: 320px;
    left: 220px;
    z-index: 22;
}
#gameScreen .pa0{
    position:absolute;
    z-index:20;
    top: 500px;
    left: 85px;
    display:none;
}

#gameScreen .pa1{
    position:absolute;
    z-index:20;
    top: 524px;
    left: 31px;
    display:none;
}

#gameScreen .pa2{
    position:absolute;
    z-index:20;
    top: 235px;
    left: 382px;
    display:none;
}

#gameScreen .pa3{
    position:absolute;
    z-index:20;
    top: 476px;
    left: 444px;
    display:none;
}

#gameScreen .btn-group{
    position: absolute;
    width: 640px;
    left:0;
    bottom: 45px;
    text-align:right;
    z-index:20;
}
#gameScreen .btn-group a{
    margin:0 10px;
    -webkit-animation:btnAnimate 1s infinite linear ;
}

#gameScreen .countdown{
    position:absolute;
    top:400px;
    left: 0;
    z-index:20;
    text-align:center;
    width:640px;
    font-size:180px;
    color:#f40707;
}
/*-----------倒计时数字动画---------------*/
@keyframes fontAnimate1
{
    0%   {transform:scale(1.9);}
    20%  {transform:scale(1.6);}
    40%  {transform:scale(1.3);}
    60%  {transform:scale(1);}
    100% {transform:scale(1);}
}

@-webkit-keyframes fontAnimate1 /* Safari 和 Chrome */
{
    0%   {-webkit-transform:scale(1.8);-webkit-text-shadow: 1px 1px 1px #000;}
    20%  {-webkit-transform:scale(1.6);-webkit-text-shadow: 1px 1px 1px #333;}
    40%  {-webkit-transform:scale(1.3);-webkit-text-shadow: 1px 1px 1px #666;}
    60%  {-webkit-transform:scale(1);-webkit-text-shadow: 1px 1px 1px #999;}
    100% {-webkit-transform:scale(1);-webkit-text-shadow: 1px 1px 1px #ddd;}
}
/*击打次数动画*/
@keyframes fontAnimate2
{
    0%   {transform:scale(1) ;}
    25%  {transform:scale(1.1) ;}
    50%  {transform:scale(1.2) ;}
    75%  {transform:scale(1.1);}
    100% {transform:scale(1) ;}
}

@-webkit-keyframes fontAnimate2 /* Safari 和 Chrome */
{
    0%   {-webkit-transform:scale(1);}
    25%  {-webkit-transform:scale(1.1);}
    50%  {-webkit-transform:scale(1.2) ;}
    75%  {-webkit-transform:scale(1.1) ;}
    100% {-webkit-transform:scale(1) ;}
}
#gameScreen .hit-count-anim{
    -webkit-animation: fontAnimate2 0.1s 1 linear;
}
#gameScreen .countdown-run{
    -webkit-animation: fontAnimate1 1s infinite linear;
}

/*----------------鞭子动画----------------*/

@keyframes leftAnimate
{
    0%   {background:url("assets/images/bianzi/left0.png");}
    33%   {background:url("assets/images/bianzi/left1.png");}
    66%   {background:url("assets/images/bianzi/left2.png");}
}
@-webkit-keyframes leftAnimate /* Safari 和 Chrome */
{
    0%   {background:url("assets/images/bianzi/left0.png");}
    33%   {background:url("assets/images/bianzi/left1.png");}
    66%   {background:url("assets/images/bianzi/left2.png");}
}
@keyframes rightAnimate
{
    0%   {background:url("assets/images/bianzi/right0.png");}
    33%   {background:url("assets/images/bianzi/right1.png");}
    66%   {background:url("assets/images/bianzi/right2.png");}
}
@-webkit-keyframes rightAnimate /* Safari 和 Chrome */
{
    0%   {background:url("assets/images/bianzi/right0.png");}
    33%   {background:url("assets/images/bianzi/right1.png");}
    66%   {background:url("assets/images/bianzi/right2.png");}
}
.bianzi{
    position:absolute;
    z-index:22;
    display:none;
    width:610px;
    height:416px;
    left:10px;
    bottom:20px;
}
.bianzi.left{
    display:block;
    -webkit-animation: leftAnimate 0.5s step(1, end) linear;
}
.bianzi.right{
    display:block;
    -webkit-animation: rightAnimate 0.5s steps(1, end) linear;
}
#progress{
    width: 640px;
    height: 960px;
    background: #fff;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 99;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-------------------结束页-------------------*/
#result{}
#result .info{
    position:absolute;
    left:0px;
    top: 73px;
}
#result .info .title{
    font-family:"微软雅黑";
    background:none;
    font-size:36px;
    line-height:60px;
    text-align:center;
}
#result .info .title .name{
    font-size:36px;
    line-height:60px;
    font-family:"微软雅黑";
}
#result .info .title .hit-count, #result .info .title .paiming{
    font-size:50px;
    color:#f40707;
}
#result .figure{
    top: 310px;

}
#result .shenti{
    top: 434px;
}

#result .btn-group{
    position: absolute;
    width: 640px;
    left:0;
    bottom: 45px;
    text-align:center;
}
#result .btn-group a {
    margin: 0 10px;
}
#result .btn-group a:nth-child(3), #result .btn-group a:nth-child(2){
    -webkit-animation:btnAnimate 1s infinite linear ;
}
#result .tips{
    position:absolute;
    width:640px;
    left:0;
    top:920px;
    text-align:center;
    font-size:24px;
    font-family:"黑体";
    line-height:40px;
}

#result .share{
    position:absolute;
    right:0px;
    top:0px;
}



/*------shake-----*/
@keyframes shake
{
    0%   {transform:scale(1) rotate(0deg);display:block;}
    25%  {transform:scale(1.2) rotate(5deg);display:block;}
    50%  {transform:scale(1.5) rotate(-3deg);display:block;}
    75%  {transform:scale(1.2) rotate(5deg);display:block;}
    100% {transform:scale(1) rotate(0deg);display:block;}
}

@-webkit-keyframes shake /* Safari 和 Chrome */
{
    0%   {-webkit-transform:scale(1) rotate(0deg);display:block;}
    25%  {-webkit-transform:scale(1.2) rotate(5deg);display:block;}
    50%  {-webkit-transform:scale(1.5) rotate(-3deg);display:block;}
    75%  {-webkit-transform:scale(1.2) rotate(5deg);display:block;}
    100% {-webkit-transform:scale(1) rotate(0deg);display:block;}
}
#gameScreen .shake{
    /*-webkit-animation:shake 1s 1 linear ;*/
    display:block;
}

.shang{
    position:absolute;
    z-index: 15;
}
.shang1{
    top: 255px;
    left: 280px;
}
.shang2{
    top: 177px;
    left: 236px;
}
.shang3{
    top: 100px;
    left: 192px;
}
.shang4{
    top: 75px;
    left: 165px;
}
.shang5{
    top: 62px;
    left: 166px;
}
.shang6{
    top: 69px;
    left: 141px;
}
.shang7{
    top: 50px;
    left: 116px;
}
.shang8{
    top: 23px;
    left: 126px;
}
.shang9{
    top: -64px;
    left: 115px;
}

/* css 图片预加载*/
.loadCssImg{
    width: 0px;
    height:0px;
    z-index:0;
    display:inline;
    font-size:0;
    background-image:url("assets/images/bianzi/left0.png");
    background-image:url("assets/images/bianzi/left1.png");
    background-image:url("assets/images/bianzi/left2.png");
    background-image:url("assets/images/bianzi/right0.png");
    background-image:url("assets/images/bianzi/right1.png");
    background-image:url("assets/images/bianzi/right2.png");
}