.sprite-ball0{ background-position: 0 0; width: 34px; height: 34px; } 
.sprite-ball1{ background-position: -39px 0; width: 33px; height: 33px; } 
.sprite-ball10{ background-position: -77px 0; width: 35px; height: 33px; } 
.sprite-ball11{ background-position: -117px 0; width: 34px; height: 33px; } 
.sprite-ball12{ background-position: -156px 0; width: 35px; height: 33px; } 
.sprite-ball2{ background-position: -196px 0; width: 35px; height: 34px; } 
.sprite-ball3{ background-position: -236px 0; width: 35px; height: 34px; } 
.sprite-ball4{ background-position: -276px 0; width: 34px; height: 33px; } 
.sprite-ball5{ background-position: -315px 0; width: 35px; height: 34px; } 
.sprite-ball6{ background-position: -355px 0; width: 34px; height: 33px; } 
.sprite-ball7{ background-position: -394px 0; width: 35px; height: 33px; } 
.sprite-ball8{ background-position: -434px 0; width: 34px; height: 34px; } 
.sprite-ball9{ background-position: -473px 0; width: 35px; height: 33px; } 
