<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>
            carousel
        </title>
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
        <link rel="stylesheet" href="http://c.58cdn.com.cn/m58/m3/css/online/index/m.index_v20150402155643.css">
        <style>
            .pc_banner>ul{
                -webkit-transition:none;
            }
        </style>
    </head>
    
    <body>
        <div class="pc_banner">
            <ul>
                <li>
                    <a href="http://m.58.com/bj/zufang/?from=m _fangchan_shouye" data-click-from="M_fangchan_shouye">
                        <img src="http://img.58cdn.com.cn/m58/m4/list/ym_wdRoom.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="http://pic2.58.com/zt/sale/index.html" tongji_tag="b_home_picgirlgod">
                        <img src="http://img.58cdn.com.cn/m58/m4/list/girl_god.png" alt="">
                    </a>
                </li>
               <!--  <li>
                    <a href="http://m.58.com/bj/zufang/?from=m _fangchan_shouye" data-click-from="M_fangchan_shouye">
                        <img src="http://img.58cdn.com.cn/m58/m4/list/ym_wdRoom.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="http://pic2.58.com/zt/sale/index.html" tongji_tag="b_home_picgirlgod">
                        <img src="http://img.58cdn.com.cn/m58/m4/list/girl_god.png" alt="">
                    </a>
                </li> -->
            </ul>
            <div class="banner_icon">
                <i class="active">
                </i>
                <i>
                </i>
            </div>
        </div>
       <!--  <div class="pc_banner1">
            <ul>
                <li>
                    <a href="http://m.58.com/bj/zufang/?from=m _fangchan_shouye" data-click-from="M_fangchan_shouye">
                        <img src="http://img.58cdn.com.cn/m58/m4/list/ym_wdRoom.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="http://pic2.58.com/zt/sale/index.html" tongji_tag="b_home_picgirlgod">
                        <img src="http://img.58cdn.com.cn/m58/m4/list/girl_god.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="http://m.58.com/bj/zufang/?from=m _fangchan_shouye" data-click-from="M_fangchan_shouye">
                        <img src="http://img.58cdn.com.cn/m58/m4/list/ym_wdRoom.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="http://pic2.58.com/zt/sale/index.html" tongji_tag="b_home_picgirlgod">
                        <img src="http://img.58cdn.com.cn/m58/m4/list/girl_god.png" alt="">
                    </a>
                </li>
            </ul>
            <div class="banner_icon">
                <i class="active">
                </i>
                <i>
                </i>
            </div>
        </div> -->
        <script src="http://j2.58cdn.com.cn/m58/njs/lib/esl_zepto.min.js?v=20141230"></script>
        <script src="js/main.js"></script>
    </body>

</html>